@{
    ViewData["Title"] = ViewData["CountryCode"];
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Country"]</h1>
    <h2>Covid Stats</h2>
    <p>New cases: @ViewData["NewConfirmed"]</p>
    <p>Total cases: @ViewData["TotalConfirmed"]</p>
    <p>New deaths: @ViewData["NewDeaths"]</p>
    <p>Total deaths: @ViewData["TotalDeaths"]</p>
    <p>New recovered: @ViewData["NewRecovered"]</p>
    <p>Total recovered: @ViewData["TotalRecovered"]</p>
</div>