@{
    ViewData["Title"] = ViewData["CountryCode"];
}

<div class="text-center">
    <h1 class="country-mess">@ViewData["Country"]</h1>
    <h2 class="country-mess">Covid Stats</h2>
    <p class="country-mess">New cases: @ViewData["NewConfirmed"]</p>
    <p class="country-mess">Total cases: @ViewData["TotalConfirmed"]</p>
    <p class="country-mess">New deaths: @ViewData["NewDeaths"]</p>
    <p class="country-mess">Total deaths: @ViewData["TotalDeaths"]</p>
    <p class="country-mess">New recovered: @ViewData["NewRecovered"]</p>
    <p class="country-mess">Total recovered: @ViewData["TotalRecovered"]</p>
</div>