@{
    ViewData["Title"] = "Covid Top20";
}

<div class="text-center">
    <h1 class="display-4">Covid stats</h1>
    <h2>Global</h2>
    <p>New cases: @ViewData["GlobalNewConfirmed"]</p>
    <p>Total cases: @ViewData["GlobalTotalConfirmed"]</p>
    <h3>Covid Top 20</h3>
    <table>
        <thead>
            <tr>
                <th>Nr</th>
                <th>Country</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @{
                SingleCountryModel[] singleCountries = (SingleCountryModel[]) ViewData["Message"];
                for (int i = 0;i<singleCountries.Length;i++)
                {
                            <tr>
                                        <td>@(i+1)</td>
                                        <td>@singleCountries[i].Country</td>
                                        <td>@singleCountries[i].TotalConfirmed</td>
                                        <td>
                                            @{
                                                string link = "/Covid/Country/" + @singleCountries[i].CountryCode;
                                            }
                                            <p><a href=@link>Klik</a></p>
                                        </td>
                                    </tr>
                }
            }
        </tbody>
    </table>   
</div>
